@model banhoa.Models.Hoa

@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/render-index.css" rel="stylesheet" />
<h2>XemChiTiet</h2>

<div style="font-size:20px">
    <h4>Hoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>

        <dd>
                <img class="image" src="@Html.DisplayFor(model => model.Hinh)"/>
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdHoa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
